USE [master]
GO
/****** Object:  Database [QuanLyAmThucNhaTrang]    Script Date: 03/06/2026 10:40:30 SA ******/
CREATE DATABASE [QuanLyAmThucNhaTrang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyAmThucNhaTrang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyAmThucNhaTrang.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyAmThucNhaTrang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyAmThucNhaTrang_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyAmThucNhaTrang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyAmThucNhaTrang]
GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 03/06/2026 10:40:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[MaDG] [int] IDENTITY(1,1) NOT NULL,
	[SoSao] [int] NOT NULL,
	[NoiDung] [ntext] NULL,
	[NgayDanhGia] [datetime] NOT NULL,
	[TrangThai] [varchar](20) NOT NULL,
	[MaTK] [int] NOT NULL,
	[MaDD] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 03/06/2026 10:40:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDM] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](300) NULL,
	[TrangThai] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIADIEM]    Script Date: 03/06/2026 10:40:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIADIEM](
	[MaDD] [int] IDENTITY(1,1) NOT NULL,
	[TenDD] [nvarchar](200) NOT NULL,
	[DiaChiChiTiet] [nvarchar](300) NOT NULL,
	[ViDo] [float] NOT NULL,
	[KinhDo] [float] NOT NULL,
	[SDT] [varchar](15) NULL,
	[GioMoCua] [time](7) NULL,
	[GioDongCua] [time](7) NULL,
	[MoTa] [ntext] NULL,
	[TrangThai] [varchar](20) NOT NULL,
	[DiemDanhGiaTB] [float] NOT NULL,
	[SoLuotDanhGia] [int] NOT NULL,
	[NgayDangKy] [date] NOT NULL,
	[MaTK] [int] NOT NULL,
	[MaDM] [int] NOT NULL,
	[MaKV] [int] NOT NULL,
	[LyDoTuChoi] [nvarchar](500) NULL,
	[MaDD_Goc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINHANH]    Script Date: 03/06/2026 10:40:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINHANH](
	[MaHA] [int] IDENTITY(1,1) NOT NULL,
	[DuongDan] [varchar](500) NOT NULL,
	[LoaiHinhAnh] [varchar](30) NULL,
	[ThuTu] [int] NOT NULL,
	[MaDD] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUVUC]    Script Date: 03/06/2026 10:40:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUVUC](
	[MaKV] [int] IDENTITY(1,1) NOT NULL,
	[TenKV] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](300) NULL,
	[ToaDoTrungTam] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 03/06/2026 10:40:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MaKM] [int] IDENTITY(1,1) NOT NULL,
	[TenKM] [nvarchar](200) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[NoiDungUuDai] [ntext] NULL,
	[TrangThai] [varchar](20) NOT NULL,
	[MaDD] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANHOI]    Script Date: 03/06/2026 10:40:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANHOI](
	[MaPH] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [ntext] NOT NULL,
	[NgayPhanHoi] [datetime] NOT NULL,
	[MaDG] [int] NOT NULL,
	[MaTK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 03/06/2026 10:40:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](30) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[LoaiTK] [varchar](20) NOT NULL,
	[AvatarUrl] [varchar](500) NULL,
	[NgayTao] [date] NOT NULL,
	[TrangThai] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YEUTHICH]    Script Date: 03/06/2026 10:40:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEUTHICH](
	[MaYT] [int] IDENTITY(1,1) NOT NULL,
	[NgayLuu] [datetime] NOT NULL,
	[MaTK] [int] NOT NULL,
	[MaDD] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaYT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DANHGIA] ON 

INSERT [dbo].[DANHGIA] ([MaDG], [SoSao], [NoiDung], [NgayDanhGia], [TrangThai], [MaTK], [MaDD]) VALUES (1, 5, N'Quán phục vụ rất tốt, đồ ăn ngon, không gian sạch sẽ! Sẽ quay lại khi đến Nha Trang.', CAST(N'2026-05-02T19:56:59.690' AS DateTime), N'HienThi', 5, 1)
INSERT [dbo].[DANHGIA] ([MaDG], [SoSao], [NoiDung], [NgayDanhGia], [TrangThai], [MaTK], [MaDD]) VALUES (2, 4, N'Quán phục vụ rất tốt, đồ ăn ngon, không gian sạch sẽ! Sẽ quay lại khi đến Nha Trang.', CAST(N'2026-05-03T19:56:59.700' AS DateTime), N'HienThi', 6, 2)
INSERT [dbo].[DANHGIA] ([MaDG], [SoSao], [NoiDung], [NgayDanhGia], [TrangThai], [MaTK], [MaDD]) VALUES (3, 5, N'Quán phục vụ rất tốt, đồ ăn ngon, không gian sạch sẽ! Sẽ quay lại khi đến Nha Trang.', CAST(N'2026-05-04T19:56:59.700' AS DateTime), N'HienThi', 7, 3)
SET IDENTITY_INSERT [dbo].[DANHGIA] OFF
GO
SET IDENTITY_INSERT [dbo].[DANHMUC] ON 

INSERT [dbo].[DANHMUC] ([MaDM], [TenDM], [MoTa], [TrangThai]) VALUES (1, N'Bún cá', N'Các món bún cá sứa, bún chả cá đặc sản Nha Trang', N'HoatDong')
INSERT [dbo].[DANHMUC] ([MaDM], [TenDM], [MoTa], [TrangThai]) VALUES (2, N'Bánh canh', N'Bánh canh chả cá, bánh canh ghẹ, bánh canh tôm', N'HoatDong')
INSERT [dbo].[DANHMUC] ([MaDM], [TenDM], [MoTa], [TrangThai]) VALUES (3, N'Nem nướng', N'Đặc sản nem nướng Ninh Hòa chuẩn vị', N'HoatDong')
SET IDENTITY_INSERT [dbo].[DANHMUC] OFF
GO
SET IDENTITY_INSERT [dbo].[DIADIEM] ON 

INSERT [dbo].[DIADIEM] ([MaDD], [TenDD], [DiaChiChiTiet], [ViDo], [KinhDo], [SDT], [GioMoCua], [GioDongCua], [MoTa], [TrangThai], [DiemDanhGiaTB], [SoLuotDanhGia], [NgayDangKy], [MaTK], [MaDM], [MaKV], [LyDoTuChoi], [MaDD_Goc]) VALUES (1, N'Bún cá sứa Năm Beo', N'Lô B2 Chung cư Phan Bội Châu', 12.2492, 109.1911, N'0981111111', CAST(N'06:00:00' AS Time), CAST(N'21:00:00' AS Time), NULL, N'DangHoatDong', 5, 1, CAST(N'2026-06-01' AS Date), 2, 1, 1, NULL, NULL)
INSERT [dbo].[DIADIEM] ([MaDD], [TenDD], [DiaChiChiTiet], [ViDo], [KinhDo], [SDT], [GioMoCua], [GioDongCua], [MoTa], [TrangThai], [DiemDanhGiaTB], [SoLuotDanhGia], [NgayDangKy], [MaTK], [MaDM], [MaKV], [LyDoTuChoi], [MaDD_Goc]) VALUES (2, N'Bún cá Nguyên Loan', N'123 Ngô Gia Tự', 12.2411, 109.1922, N'0981111112', CAST(N'06:00:00' AS Time), CAST(N'22:00:00' AS Time), NULL, N'DangHoatDong', 4, 1, CAST(N'2026-06-01' AS Date), 2, 1, 2, NULL, NULL)
INSERT [dbo].[DIADIEM] ([MaDD], [TenDD], [DiaChiChiTiet], [ViDo], [KinhDo], [SDT], [GioMoCua], [GioDongCua], [MoTa], [TrangThai], [DiemDanhGiaTB], [SoLuotDanhGia], [NgayDangKy], [MaTK], [MaDM], [MaKV], [LyDoTuChoi], [MaDD_Goc]) VALUES (3, N'Bún cá Hạnh Nhiên', N'32C Lê Đại Hành', 12.2388, 109.1933, N'0981111113', CAST(N'06:00:00' AS Time), CAST(N'21:00:00' AS Time), NULL, N'DangHoatDong', 5, 1, CAST(N'2026-06-01' AS Date), 2, 1, 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DIADIEM] OFF
GO
SET IDENTITY_INSERT [dbo].[HINHANH] ON 

INSERT [dbo].[HINHANH] ([MaHA], [DuongDan], [LoaiHinhAnh], [ThuTu], [MaDD]) VALUES (101, N'/images/uploads/08eb00a1-4bd1-4fe7-874d-71ae05cf7a4d.jpg', N'KhongGian', 0, 15)
INSERT [dbo].[HINHANH] ([MaHA], [DuongDan], [LoaiHinhAnh], [ThuTu], [MaDD]) VALUES (102, N'/images/uploads/08996e78-9a23-4aed-904b-d95188b04670.jpg', N'KhongGian', 0, 14)
INSERT [dbo].[HINHANH] ([MaHA], [DuongDan], [LoaiHinhAnh], [ThuTu], [MaDD]) VALUES (103, N'/images/uploads/a18c17db-4d7f-491f-826c-bc2d97d87954.jpg', N'KhongGian', 0, 13)
SET IDENTITY_INSERT [dbo].[HINHANH] OFF
GO
SET IDENTITY_INSERT [dbo].[KHUVUC] ON 

INSERT [dbo].[KHUVUC] ([MaKV], [TenKV], [MoTa], [ToaDoTrungTam]) VALUES (1, N'Lộc Thọ', N'Khu vực trung tâm du lịch sầm uất ven biển Trần Phú', N'12.2387,109.1966')
INSERT [dbo].[KHUVUC] ([MaKV], [TenKV], [MoTa], [ToaDoTrungTam]) VALUES (2, N'Phước Hải', N'Khu dân cư đông đúc, nhiều quán ăn địa phương', N'12.2458,109.1812')
INSERT [dbo].[KHUVUC] ([MaKV], [TenKV], [MoTa], [ToaDoTrungTam]) VALUES (3, N'Vĩnh Hải', N'Gần chợ Vĩnh Hải, tập trung ẩm thực phía Bắc thành phố', N'12.2745,109.2001')
SET IDENTITY_INSERT [dbo].[KHUVUC] OFF
GO
SET IDENTITY_INSERT [dbo].[KHUYENMAI] ON 

INSERT [dbo].[KHUYENMAI] ([MaKM], [TenKM], [NgayBatDau], [NgayKetThuc], [NoiDungUuDai], [TrangThai], [MaDD]) VALUES (1, N'Giảm 10% cho khách du lịch', CAST(N'2026-06-01' AS Date), CAST(N'2027-12-31' AS Date), N'Vui lòng đưa thẻ sinh viên hoặc check-in để được giảm 10% tổng hóa đơn.', N'ConHieuLuc', 1)
INSERT [dbo].[KHUYENMAI] ([MaKM], [TenKM], [NgayBatDau], [NgayKetThuc], [NoiDungUuDai], [TrangThai], [MaDD]) VALUES (2, N'Tặng nước uống', CAST(N'2026-06-01' AS Date), CAST(N'2027-01-01' AS Date), N'Tặng ngay 1 ly trà đá hoặc sâm dứa cho mỗi phần ăn.', N'ConHieuLuc', 2)
INSERT [dbo].[KHUYENMAI] ([MaKM], [TenKM], [NgayBatDau], [NgayKetThuc], [NoiDungUuDai], [TrangThai], [MaDD]) VALUES (3, N'Combo 99k', CAST(N'2026-06-01' AS Date), CAST(N'2026-12-30' AS Date), N'Combo 2 phần ăn và 2 ly nước chỉ 99.000 VNĐ.', N'ConHieuLuc', 21)
SET IDENTITY_INSERT [dbo].[KHUYENMAI] OFF
GO
SET IDENTITY_INSERT [dbo].[PHANHOI] ON 

INSERT [dbo].[PHANHOI] ([MaPH], [NoiDung], [NgayPhanHoi], [MaDG], [MaTK]) VALUES (1, N'Cảm ơn bạn đã ghé thăm quán! Mong sớm được phục vụ bạn lần nữa.', CAST(N'2026-06-01T19:57:07.307' AS DateTime), 1, 2)
INSERT [dbo].[PHANHOI] ([MaPH], [NoiDung], [NgayPhanHoi], [MaDG], [MaTK]) VALUES (2, N'Dạ quán ghi nhận góp ý của bạn để cải thiện dịch vụ ạ. Cảm ơn bạn!', CAST(N'2026-06-01T19:57:07.307' AS DateTime), 2, 2)
INSERT [dbo].[PHANHOI] ([MaPH], [NoiDung], [NgayPhanHoi], [MaDG], [MaTK]) VALUES (3, N'Thật vui vì bạn có trải nghiệm tốt tại cơ sở của chúng tôi.', CAST(N'2026-06-01T19:57:07.307' AS DateTime), 3, 2)
SET IDENTITY_INSERT [dbo].[PHANHOI] OFF
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([MaTK], [TenDangNhap], [MatKhau], [HoTen], [Email], [SDT], [LoaiTK], [AvatarUrl], [NgayTao], [TrangThai]) VALUES (1, N'admin', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Quản trị viên Hệ thống', N'admin@nt.com', N'0901000000', N'QuanTriVien', NULL, CAST(N'2026-06-01' AS Date), N'HoatDong')
INSERT [dbo].[TAIKHOAN] ([MaTK], [TenDangNhap], [MatKhau], [HoTen], [Email], [SDT], [LoaiTK], [AvatarUrl], [NgayTao], [TrangThai]) VALUES (2, N'chuquan1', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Chủ Quán - Ông Nguyễn Văn A', N'chua@nt.com', N'0902000001', N'ChuCSKD', NULL, CAST(N'2026-06-01' AS Date), N'HoatDong')
INSERT [dbo].[TAIKHOAN] ([MaTK], [TenDangNhap], [MatKhau], [HoTen], [Email], [SDT], [LoaiTK], [AvatarUrl], [NgayTao], [TrangThai]) VALUES (3, N'chuquan2', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Chủ Quán - Bà Trần Thị B', N'chub@nt.com', N'0902000002', N'ChuCSKD', NULL, CAST(N'2026-06-01' AS Date), N'HoatDong')
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
GO
SET IDENTITY_INSERT [dbo].[YEUTHICH] ON 

INSERT [dbo].[YEUTHICH] ([MaYT], [NgayLuu], [MaTK], [MaDD]) VALUES (1, CAST(N'2026-06-01T19:57:18.643' AS DateTime), 4, 1)
INSERT [dbo].[YEUTHICH] ([MaYT], [NgayLuu], [MaTK], [MaDD]) VALUES (2, CAST(N'2026-06-01T19:57:18.643' AS DateTime), 4, 21)
INSERT [dbo].[YEUTHICH] ([MaYT], [NgayLuu], [MaTK], [MaDD]) VALUES (3, CAST(N'2026-06-01T19:57:18.643' AS DateTime), 4, 30)
SET IDENTITY_INSERT [dbo].[YEUTHICH] OFF
GO
/****** Object:  Index [UQ_DanhGia_TK_DD]    Script Date: 03/06/2026 10:40:30 SA ******/
ALTER TABLE [dbo].[DANHGIA] ADD  CONSTRAINT [UQ_DanhGia_TK_DD] UNIQUE NONCLUSTERED 
(
	[MaTK] ASC,
	[MaDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DanhGia_MaDD]    Script Date: 03/06/2026 10:40:30 SA ******/
CREATE NONCLUSTERED INDEX [IX_DanhGia_MaDD] ON [dbo].[DANHGIA]
(
	[MaDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DanhMuc_TenDM]    Script Date: 03/06/2026 10:40:30 SA ******/
ALTER TABLE [dbo].[DANHMUC] ADD  CONSTRAINT [UQ_DanhMuc_TenDM] UNIQUE NONCLUSTERED 
(
	[TenDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DiaDiem_DiemTB]    Script Date: 03/06/2026 10:40:30 SA ******/
CREATE NONCLUSTERED INDEX [IX_DiaDiem_DiemTB] ON [dbo].[DIADIEM]
(
	[DiemDanhGiaTB] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DiaDiem_MaDM]    Script Date: 03/06/2026 10:40:30 SA ******/
CREATE NONCLUSTERED INDEX [IX_DiaDiem_MaDM] ON [dbo].[DIADIEM]
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DiaDiem_MaKV]    Script Date: 03/06/2026 10:40:30 SA ******/
CREATE NONCLUSTERED INDEX [IX_DiaDiem_MaKV] ON [dbo].[DIADIEM]
(
	[MaKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DiaDiem_TrangThai]    Script Date: 03/06/2026 10:40:30 SA ******/
CREATE NONCLUSTERED INDEX [IX_DiaDiem_TrangThai] ON [dbo].[DIADIEM]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HinhAnh_MaDD]    Script Date: 03/06/2026 10:40:30 SA ******/
CREATE NONCLUSTERED INDEX [IX_HinhAnh_MaDD] ON [dbo].[HINHANH]
(
	[MaDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_KhuVuc_TenKV]    Script Date: 03/06/2026 10:40:30 SA ******/
ALTER TABLE [dbo].[KHUVUC] ADD  CONSTRAINT [UQ_KhuVuc_TenKV] UNIQUE NONCLUSTERED 
(
	[TenKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_KhuyenMai_MaDD]    Script Date: 03/06/2026 10:40:30 SA ******/
CREATE NONCLUSTERED INDEX [IX_KhuyenMai_MaDD] ON [dbo].[KHUYENMAI]
(
	[MaDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PhanHoi_MaDG]    Script Date: 03/06/2026 10:40:30 SA ******/
ALTER TABLE [dbo].[PHANHOI] ADD  CONSTRAINT [UQ_PhanHoi_MaDG] UNIQUE NONCLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TaiKhoan_Email]    Script Date: 03/06/2026 10:40:30 SA ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [UQ_TaiKhoan_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TaiKhoan_SDT]    Script Date: 03/06/2026 10:40:30 SA ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [UQ_TaiKhoan_SDT] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TaiKhoan_TenDangNhap]    Script Date: 03/06/2026 10:40:30 SA ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [UQ_TaiKhoan_TenDangNhap] UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_YeuThich_TK_DD]    Script Date: 03/06/2026 10:40:30 SA ******/
ALTER TABLE [dbo].[YEUTHICH] ADD  CONSTRAINT [UQ_YeuThich_TK_DD] UNIQUE NONCLUSTERED 
(
	[MaTK] ASC,
	[MaDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_YeuThich_MaTK]    Script Date: 03/06/2026 10:40:30 SA ******/
CREATE NONCLUSTERED INDEX [IX_YeuThich_MaTK] ON [dbo].[YEUTHICH]
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DANHGIA] ADD  DEFAULT (getdate()) FOR [NgayDanhGia]
GO
ALTER TABLE [dbo].[DANHGIA] ADD  DEFAULT (N'HienThi') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DANHMUC] ADD  DEFAULT (N'HoatDong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DIADIEM] ADD  DEFAULT (N'ChoDuyet') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DIADIEM] ADD  DEFAULT ((0)) FOR [DiemDanhGiaTB]
GO
ALTER TABLE [dbo].[DIADIEM] ADD  DEFAULT ((0)) FOR [SoLuotDanhGia]
GO
ALTER TABLE [dbo].[DIADIEM] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[HINHANH] ADD  DEFAULT ((0)) FOR [ThuTu]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  DEFAULT (N'ConHieuLuc') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PHANHOI] ADD  DEFAULT (getdate()) FOR [NgayPhanHoi]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT (N'HoatDong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[YEUTHICH] ADD  DEFAULT (getdate()) FOR [NgayLuu]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_DiaDiem] FOREIGN KEY([MaDD])
REFERENCES [dbo].[DIADIEM] ([MaDD])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DanhGia_DiaDiem]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TAIKHOAN] ([MaTK])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DanhGia_TaiKhoan]
GO
ALTER TABLE [dbo].[DIADIEM]  WITH CHECK ADD  CONSTRAINT [FK_DiaDiem_DanhMuc] FOREIGN KEY([MaDM])
REFERENCES [dbo].[DANHMUC] ([MaDM])
GO
ALTER TABLE [dbo].[DIADIEM] CHECK CONSTRAINT [FK_DiaDiem_DanhMuc]
GO
ALTER TABLE [dbo].[DIADIEM]  WITH CHECK ADD  CONSTRAINT [FK_DiaDiem_DiaDiemGoc] FOREIGN KEY([MaDD_Goc])
REFERENCES [dbo].[DIADIEM] ([MaDD])
GO
ALTER TABLE [dbo].[DIADIEM] CHECK CONSTRAINT [FK_DiaDiem_DiaDiemGoc]
GO
ALTER TABLE [dbo].[DIADIEM]  WITH CHECK ADD  CONSTRAINT [FK_DiaDiem_KhuVuc] FOREIGN KEY([MaKV])
REFERENCES [dbo].[KHUVUC] ([MaKV])
GO
ALTER TABLE [dbo].[DIADIEM] CHECK CONSTRAINT [FK_DiaDiem_KhuVuc]
GO
ALTER TABLE [dbo].[DIADIEM]  WITH CHECK ADD  CONSTRAINT [FK_DiaDiem_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TAIKHOAN] ([MaTK])
GO
ALTER TABLE [dbo].[DIADIEM] CHECK CONSTRAINT [FK_DiaDiem_TaiKhoan]
GO
ALTER TABLE [dbo].[HINHANH]  WITH CHECK ADD  CONSTRAINT [FK_HinhAnh_DiaDiem] FOREIGN KEY([MaDD])
REFERENCES [dbo].[DIADIEM] ([MaDD])
GO
ALTER TABLE [dbo].[HINHANH] CHECK CONSTRAINT [FK_HinhAnh_DiaDiem]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMai_DiaDiem] FOREIGN KEY([MaDD])
REFERENCES [dbo].[DIADIEM] ([MaDD])
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [FK_KhuyenMai_DiaDiem]
GO
ALTER TABLE [dbo].[PHANHOI]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoi_DanhGia] FOREIGN KEY([MaDG])
REFERENCES [dbo].[DANHGIA] ([MaDG])
GO
ALTER TABLE [dbo].[PHANHOI] CHECK CONSTRAINT [FK_PhanHoi_DanhGia]
GO
ALTER TABLE [dbo].[PHANHOI]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoi_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TAIKHOAN] ([MaTK])
GO
ALTER TABLE [dbo].[PHANHOI] CHECK CONSTRAINT [FK_PhanHoi_TaiKhoan]
GO
ALTER TABLE [dbo].[YEUTHICH]  WITH CHECK ADD  CONSTRAINT [FK_YeuThich_DiaDiem] FOREIGN KEY([MaDD])
REFERENCES [dbo].[DIADIEM] ([MaDD])
GO
ALTER TABLE [dbo].[YEUTHICH] CHECK CONSTRAINT [FK_YeuThich_DiaDiem]
GO
ALTER TABLE [dbo].[YEUTHICH]  WITH CHECK ADD  CONSTRAINT [FK_YeuThich_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TAIKHOAN] ([MaTK])
GO
ALTER TABLE [dbo].[YEUTHICH] CHECK CONSTRAINT [FK_YeuThich_TaiKhoan]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [CK_DanhGia_SoSao] CHECK  (([SoSao]>=(1) AND [SoSao]<=(5)))
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [CK_DanhGia_SoSao]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [CK_DanhGia_TrangThai] CHECK  (([TrangThai]='DaXoa' OR [TrangThai]='DaAn' OR [TrangThai]='HienThi'))
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [CK_DanhGia_TrangThai]
GO
ALTER TABLE [dbo].[DANHMUC]  WITH CHECK ADD  CONSTRAINT [CK_DanhMuc_TrangThai] CHECK  (([TrangThai]='NgungSuDung' OR [TrangThai]='HoatDong'))
GO
ALTER TABLE [dbo].[DANHMUC] CHECK CONSTRAINT [CK_DanhMuc_TrangThai]
GO
ALTER TABLE [dbo].[DIADIEM]  WITH CHECK ADD  CONSTRAINT [CK_DiaDiem_DiemTB] CHECK  (([DiemDanhGiaTB]>=(0) AND [DiemDanhGiaTB]<=(5)))
GO
ALTER TABLE [dbo].[DIADIEM] CHECK CONSTRAINT [CK_DiaDiem_DiemTB]
GO
ALTER TABLE [dbo].[DIADIEM]  WITH CHECK ADD  CONSTRAINT [CK_DiaDiem_SoLuot] CHECK  (([SoLuotDanhGia]>=(0)))
GO
ALTER TABLE [dbo].[DIADIEM] CHECK CONSTRAINT [CK_DiaDiem_SoLuot]
GO
ALTER TABLE [dbo].[DIADIEM]  WITH CHECK ADD  CONSTRAINT [CK_DiaDiem_TrangThai] CHECK  (([TrangThai]='TuChoiSua' OR [TrangThai]='TuChoi' OR [TrangThai]='TamNgung' OR [TrangThai]='DangHoatDong' OR [TrangThai]='ChoDuyetSua' OR [TrangThai]='ChoDuyet'))
GO
ALTER TABLE [dbo].[DIADIEM] CHECK CONSTRAINT [CK_DiaDiem_TrangThai]
GO
ALTER TABLE [dbo].[HINHANH]  WITH CHECK ADD  CONSTRAINT [CK_HinhAnh_Loai] CHECK  (([LoaiHinhAnh]='DanhGia' OR [LoaiHinhAnh]='KhongGian' OR [LoaiHinhAnh]='ThucDon' OR [LoaiHinhAnh]='MatTien' OR [LoaiHinhAnh] IS NULL))
GO
ALTER TABLE [dbo].[HINHANH] CHECK CONSTRAINT [CK_HinhAnh_Loai]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [CK_KhuyenMai_Ngay] CHECK  (([NgayBatDau]<=[NgayKetThuc]))
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [CK_KhuyenMai_Ngay]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [CK_KhuyenMai_TrangThai] CHECK  (([TrangThai]='HetHan' OR [TrangThai]='ConHieuLuc'))
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [CK_KhuyenMai_TrangThai]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_LoaiTK] CHECK  (([LoaiTK]='QuanTriVien' OR [LoaiTK]='ChuCSKD' OR [LoaiTK]='KhachHang'))
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [CK_TaiKhoan_LoaiTK]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_TrangThai] CHECK  (([TrangThai]='BiKhoa' OR [TrangThai]='HoatDong'))
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [CK_TaiKhoan_TrangThai]
GO
USE [master]
GO
